@page "/"
@inject NavigationManager NavigationManager

<p>Hello World!</p>

<button id="about" class="btn btn-primary" @onclick="NavigateToAbout">
    About us
</button>

@code {

    private void NavigateToAbout()
    {
        NavigationManager.NavigateTo("About");
    }

}